---
const year = new Date().getFullYear()
---

<footer>
  <span class="divider"></span>
  <div class="container">
    <div>
      <a href={Astro.url.origin}>
        <img
          src="/meta/tauri_logo_light.svg"
          alt="Tauri logo"
          class="light-mode-only logo"
        />
        <img
          src="/meta/tauri_logo_dark.svg"
          alt="Tauri logo"
          class="dark-mode-only logo"
        />
      </a>

      <ul class="social">
        <li>
          <a href="https://github.com/tauri-apps/tauri" target="_blank">
            <i class="bi bi-github"></i>
          </a>
        </li>
        <li>
          <a href="https://discord.com/invite/tauri" target="_blank">
            <i class="bi bi-discord"></i>
          </a>
        </li>

        <li>
          <a href="https://twitter.com/TauriApps" target="_blank">
            <i class="bi bi-twitter"></i>
          </a>
        </li>

        <li>
          <a href="https://fosstodon.org/@TauriApps" target="_blank">
            <i class="bi bi-mastodon"></i>
          </a>
        </li>
      </ul>
      <p>Copyright &copy; {year} Tauri Contributors. CC-BY / MIT</p>
    </div>

    <ul>
      <li><span class="footer-title">Sections</span></li>
      <li><a href="/blog">Docs</a></li>
      <li><a href="/api">References</a></li>
      <li><a href="/about">About</a></li>
    </ul>

    <ul>
      <li><span class="footer-title">External</span></li>
      <li>
        <a href="/blog">
          <!-- TODO: Add OpenCollective icon -->
          <!-- <i class="bi bi-github"></i> -->
          OpenCollective
        </a>
      </li>
      <li>
        <a href="">
          <!-- <i class="bi bi-envelope-open-fill"></i> -->
          Email
        </a>
      </li>
      <li>
        <a href="">
          <!-- <i class="bi bi-github"></i> -->
          Awesome Tauri
        </a>
      </li>
    </ul>
  </div>
</footer>

<style>
  footer {
  }

  footer,
  footer a {
    color: rgb(var(--base-content) / 0.8);
  }
  .container {
    padding: var(--padding-x);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }
  .logo {
    height: 2em;
  }
  .social {
    /* TODO: Need to move out 1em to make up for the padding */
    display: flex;
  }

  .social a {
    padding: 1em;
    border-radius: var(--radius);
  }

  .social a:hover {
    background-color: rgb(var(--base-content) / 0.1);
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
</style>
