---
import Search from './Search.astro'
---

<nav>
  <ul>
    <li class="logo">
      <a href="/">
        <img
          src="/meta/tauri_logo_light.svg"
          alt="Tauri logo"
          class="light-mode-only"
        />
        <img
          src="/meta/tauri_logo_dark.svg"
          alt="Tauri logo"
          class="dark-mode-only"
        />
      </a>
    </li>
    <li>
      <a href="/docs/core/1" class="button-ghost">Docs</a>
    </li>
    <li>
      <button class="button-ghost">
        References
        <i class="bi bi-caret-down-fill"></i>
      </button>
      <ul>
        <li>
          <a href="/api/core-config/1" class="button-ghost"
            >Tauri Configuration</a
          >
        </li>
        <li>
          <a href="./api" class="button-ghost">
            Rust API (via Docs.rs)
            <i class="bi bi-box-arrow-up-right"></i>
          </a>
        </li>
        <li>
          <a href="/api/core-js/1" class="button-ghost">JavaScript API</a>
        </li>

        <li><a href="/api/core-cli/1" class="button-ghost">Tauri CLI</a></li>
      </ul>
    </li>

    <li>
      <a href="./about" class="button-ghost">About</a>
    </li>
  </ul>
  <ul>
    <li>
      <li class="spacer"></li>
    </li>
    <li>
      <a
        href="https://github.com/tauri-apps/tauri"
        target="_blank"
        class="button-ghost"
      >
        <i class="icon bi bi-github"></i>
      </a>
    </li>
    <li>
      <a
        href="https://discord.com/invite/tauri"
        target="_blank"
        class="button-ghost"
      >
        <i class="icon bi bi-discord"></i>
      </a>
    </li>
    <li>
      <a
        href="https://twitter.com/TauriApps"
        target="_blank"
        class="button-ghost"
      >
        <i class="icon bi bi-twitter"></i>
      </a>
    </li>
    <li>
      <a
        href="https://fosstodon.org/@TauriApps"
        target="_blank"
        class="button-ghost"
      >
        <i class="icon bi bi-mastodon"></i>
      </a>
    </li>
    <li>
      <span class="divider"></span>
    </li>
    <li>
      <button class="button-ghost">
        <i class="icon bi bi-moon-stars-fill"></i>
        <i class="bi bi-caret-down-fill"></i>
      </button>
      <ul>
        <li>
          <button class="button-ghost">
            <i class="icon bi bi-circle-half"></i>
            Auto
          </button>
        </li>
        <li>
          <button class="button-ghost">
            <i class="icon bi bi-sun-fill"></i>
            Light
          </button>
        </li>
        <li>
          <button class="button-ghost">
            <i class="icon bi bi-moon-stars-fill"></i>
            Dark
          </button>
        </li>
      </ul>
    </li>
    <li>
      <button class="button-ghost">
        <i class="icon bi bi-translate"></i>
        <i class="bi bi-caret-down-fill"></i>
      </button>
      <ul>
        <li><a class="button-ghost">🇺🇸 English</a></li>
        <li><a class="button-ghost">🇮🇹 Italian</a></li>
        <li><a class="button-ghost">🇨🇳 Chinese (Simplified)</a></li>
        <li><a class="button-ghost">🇰🇷 Korean</a></li>
      </ul>
    </li>

    <!-- <Search /> -->
  </ul>
</nav>

<style>
  nav {
    top: 0;
    padding: 1em var(--padding-x);
    position: sticky;
    height: 3rem;
    background-color: rgb(var(--base-100-bg));
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    /* display: inline-block; */
    height: auto;
  }

  /* Dropdown */
  ul ul {
    display: none;
    position: absolute;
    background-color: rgb(var(--base-200-bg));
    z-index: 50;
  }

  ul > li:hover > ul {
    display: inherit;
  }

  .logo {
    padding-right: 2rem;
  }

  .logo img {
    height: 2rem;
  }

  .divider {
    margin: 1em;
    border: var(--border);
    border-radius: var(--radius);
  }

  .icon {
    font-size: 1.2em;
  }
</style>
