---
import Search from './Search.astro'
---

<nav class="sticky top-0 navbar px-10">
  <ul class="leading">
    <div class="logo">
      <a href={Astro.url.origin}>
        <!-- TODO: Darkmode toggling might be able to be better -->
        <img
          src="/meta/tauri_logo_light.svg"
          alt="Tauri logo"
          class="light-mode-only"
        />
        <img
          src="/meta/tauri_logo_dark.svg"
          alt="Tauri logo"
          class="dark-mode-only"
        />
      </a>
    </div>

    <li>
      <a href="/docs/core/1">Docs</a>
    </li>
    <li>
      <a>
        References
        <i class="bi bi-caret-down-fill"></i>
      </a>
    </li>
    <!-- <ul class="bg-base-200 p-2">
          <li class="menu-title uppercase">
            <span>Tauri Core</span>
          </li>
          <li><a href="/api/core-config/1">Tauri Configuration</a></li>
          <li>
            <a href="./api">
              Rust API (via Docs.rs)
              <i class="bi bi-box-arrow-up-right"></i>
            </a>
          </li>
          <li><a href="/api/core-js/1">JavaScript API</a></li>

          <li><a href="/api/core-cli/1">Tauri CLI</a></li>
        </ul> -->

    <li>
      <a href="./about">About</a>
    </li>
  </ul>
  <ul class="trailing">
    <li>
      <li class="spacer"></li>
    </li>
    <li>
      <a href="https://github.com/tauri-apps/tauri" target="_blank">
        <i class="icon bi bi-github"></i>
      </a>
    </li>
    <li>
      <a href="https://discord.com/invite/tauri" target="_blank">
        <i class="icon bi bi-discord"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/TauriApps" target="_blank">
        <i class="icon bi bi-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://fosstodon.org/@TauriApps" target="_blank">
        <i class="icon bi bi-mastodon"></i>
      </a>
    </li>
    <li>
      <span class="divider"></span>
    </li>
    <li>
      <a>
        <!-- <i class="icon bi bi-sun-fill"></i> -->
        <i class="icon bi bi-moon-stars-fill"></i>
        <i class="bi bi-caret-down-fill"></i>
        <!-- <i class="icon bi bi-circle-half"></i> -->
      </a>
    </li>
    <li>
      <a>
        <i class="icon bi bi-translate"></i>
        <i class="bi bi-caret-down-fill"></i>
      </a>
    </li>

    <!-- <ul class="bg-base-200 p-2">
          <li><a>🇺🇸 English</a></li>
          <li><a>🇮🇹 Italian</a></li>
          <li><a>🇨🇳 Chinese (Simplified)</a></li>
          <li><a>🇰🇷 Korean</a></li>
        </ul> -->

    <Search />
  </ul>
</nav>

<style>
  nav {
    top: 0;
    padding: 1em var(--padding-x);
    position: sticky;
    height: 3rem;
    background-color: rgb(var(--base-100-bg));
    display: flex;
    justify-content: space-between;
  }

  nav a {
    color: rgb(var(--base-content) / 0.8);
  }

  nav a:hover {
    color: rgb(var(--base-content));
    text-decoration: none;
  }

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }

  li a {
    padding: 1em;
    border-radius: var(--radius);
  }

  li a:hover {
    background-color: rgb(var(--base-content) / 0.1);
  }

  .logo {
    padding-right: 2rem;
  }

  .logo img {
    height: 2rem;
  }

  .divider {
    margin: 1em;
    border: var(--border);
    border-radius: var(--radius);
  }

  .icon {
    font-size: 1.2em;
  }
</style>
