---
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";

changeLanguage("en");
---

<Layout title="Page Not Found">
  <h1>404</h1>
  <p>Page not found</p>
</Layout>
